@media (min-width: 1024px) {
  .container-fluid {
    width: 970px;
  }
}

@media (min-width: 991px){
  h1 {
    font-size: 50px;
  }
}

@media (min-width: 768px){
  #pricing-carousel .carousel-inner .item.left.active {
    transform: translateX(-33%);
  }
  #pricing-carousel .carousel-inner .item.right.active {
    transform: translateX(33%);
  }

  #pricing-carousel .carousel-inner .item.next {
    transform: translateX(33%)
  }
  #pricing-carousel .carousel-inner .item.prev {
    transform: translateX(-33%)
  }

  #pricing-carousel .carousel-inner .item.right,
  #pricing-carousel .carousel-inner .item.left { 
    transform: translateX(0);
  }
}

@media (max-width: 991px){
  h1 {
    font-size: 54px;
  }

  .logo-overlay {
    top: 30px;
  }

  .carousel-caption {
    top: calc(30vh - 100px);
    width: 80%;
    left: 10%;
  }

  .carousel-caption p {
    margin-bottom: 20px;
  }

  #day-in-use .col-md-3 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #day-in-use a.btn-bigger {
    top: 0px;
  }

  #newsletter .form-group {
    width: 60% !important;
    text-center: center;
  }
}

@media (max-width: 767px){
  h1 {
    font-size: 40px;
  }

  #newsletter .form-group {
    width: 100% !important;
    display: inline-flex;
  }

  #newsletter .form-group .form-control {
    margin-right: 5px;
  }

  .carousel-control.left {
    margin-left: -30px;
  }

  .carousel-control.right {
    margin-right: -30px;
  }
}

@media (max-width: 481px){
  .carousel-caption {
    width: 90%;
    left: 5%;
  }

  #instafeed img {
    width: calc(100% / 3);
  }

  #footer .social-networks {
    float: none !important;
    text-align: center;
    top: 20px;
    position: relative;
  }

  .carousel-caption a.btn-primary {
    padding: 10px 15px;
  }

  h1 {
    font-size: 26px;
  }

  .carousel-control.left {
    margin-left: -20px;
  }

  .carousel-control.right {
    margin-right: -20px;
  }
}
